<div class="wrapper pt-36">
  <div class="container flex justify-center px-2">
    <div class="w-full lg:w-[40vh] lg:min-w-[700px]">
      <p
        class="text-button-accent-hover lg:max-width-[550px] mb-1.5 font-mono text-base md:text-xl"
      >
        {{ greetingText }}
      </p>
      <h1
        class="text-text-base mb-1.5 text-3xl font-bold md:text-4xl lg:min-w-[610px] lg:text-6xl"
      >
        {{ fullName }}
      </h1>
      <h1
        class="text-text-muted mb-1.5 text-3xl font-bold md:text-4xl lg:w-[40vh] lg:min-w-[700px] lg:text-6xl"
        id="my-role"
      >
        {{ roleText }}
      </h1>
      <p class="lg:max-width-[550px] mb-1.5 mt-[2.25%]">
        {{ introductionText }}
      </p>
      <app-button
        [buttonText]="aboutMeButtonText"
        [buttonAction]="navigate"
      ></app-button>
    </div>
  </div>
</div>
