<div
  class="dark:border-dark-accent-hover border-light-accent-hover group relative z-0 mt-2.5 inline-flex h-[64px] w-[230px] min-w-[130px] items-center justify-center overflow-hidden rounded-lg border-2 border-solid bg-transparent px-[50px] py-[15px] text-center text-base font-bold uppercase"
  (click)="onButtonClick()"
>
  <div
    class="dark:text-dark-background-primary dark:bg-dark-accent-hover text-light-background-primary bg-light-accent-hover absolute left-0 top-0 -z-[1] h-full w-full translate-y-full transition-transform duration-700 ease-[cubic-bezier(0.19,1,0.22,1)] group-hover:translate-y-0"
  ></div>
  <span
    class="dark:text-dark-accent-hover dark:group-hover:text-dark-background-primary text-light-accent-hover group-hover:text-light-background-primary select-none"
  >
    {{ buttonText }}</span
  >
</div>
