@if (routerLink) {
  <a
    [routerLink]="routerLink"
    [attr.aria-label]="ariaLabel || null"
    [class]="baseClasses + ' ' + variantClasses"
  >
    <div
      class="dark:text-dark-background-primary dark:bg-dark-accent-hover text-light-background-primary bg-light-accent-hover absolute left-0 top-0 -z-[1] h-full w-full translate-y-full transition-transform duration-700 ease-[cubic-bezier(0.19,1,0.22,1)] group-hover:translate-y-0"
    ></div>
    <span
      class="dark:text-dark-accent-hover dark:group-hover:text-dark-background-primary text-light-accent-hover group-hover:text-light-background-primary select-none"
    >
      {{ buttonText }}</span
    >
  </a>
} @else if (href) {
  <a
    [href]="href"
    [attr.download]="download || null"
    [attr.aria-label]="ariaLabel || null"
    [attr.target]="newTab ? '_blank' : null"
    [attr.rel]="newTab ? 'noopener noreferrer' : null"
    [class]="baseClasses + ' ' + variantClasses"
  >
    <div
      class="dark:text-dark-background-primary dark:bg-dark-accent-hover text-light-background-primary bg-light-accent-hover absolute left-0 top-0 -z-[1] h-full w-full translate-y-full transition-transform duration-700 ease-[cubic-bezier(0.19,1,0.22,1)] group-hover:translate-y-0"
    ></div>
    <span
      class="dark:text-dark-accent-hover dark:group-hover:text-dark-background-primary text-light-accent-hover group-hover:text-light-background-primary select-none"
    >
      {{ buttonText }}</span
    >
    @if (variant === 'text' && newTab) {
      <span aria-hidden="true">↗</span>
    }
  </a>
} @else {
  <button
    type="button"
    [class]="baseClasses + ' appearance-none ' + variantClasses"
    [disabled]="disabled"
    [attr.aria-disabled]="disabled"
    (click)="onButtonClick()"
  >
    <div
      class="dark:text-dark-background-primary dark:bg-dark-accent-hover text-light-background-primary bg-light-accent-hover absolute left-0 top-0 -z-[1] h-full w-full translate-y-full transition-transform duration-700 ease-[cubic-bezier(0.19,1,0.22,1)] group-hover:translate-y-0"
    ></div>
    <span
      class="dark:text-dark-accent-hover dark:group-hover:text-dark-background-primary text-light-accent-hover group-hover:text-light-background-primary select-none"
    >
      {{ buttonText }}</span
    >
  </button>
}
