@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --highlight-color: #65ffd1;
  --hover-color: #007bff;
  --secondary-text-color: #c6c6c6;
  --logo-hover-filter: brightness(0) saturate(100%) invert(40%) sepia(99%)
    saturate(2000%) hue-rotate(200deg) brightness(90%) contrast(100%);
  --main-text-color: white;
  --body-background-color: linear-gradient(to bottom, black, darkblue);
  --hover-background-color: rgba(255, 255, 255, 0.1);
}

body {
  width: 100%;
  height: 100%;
  background: var(--body-background-color);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
  color: var(--main-text-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  color: var(--main-text-color);
  min-width: 610px;
  font-size: 56px;
}

.small-paragraph {
  font-family: "Roboto Mono", sans-serif;
  color: var(--highlight-color);
  font-size: 19px;
}
